<!DOCTYPE html>
<html lang="tr" >
<head>
  <meta charset="UTF-8">
   <link href="{{ url_for('static', filename='3rd/boxicons.min.css') }}" rel="stylesheet" />
   <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
</head>
<!-- partial:index.partial.html -->
<body>

  <section class="segmentfirst">
    <video class="video-background" autoplay muted loop>
      <source src="{{ url_for('static', filename='assests/main-background.mp4') }}" type="video/mp4">
      Tarayıcınız mp4 formatını desteklemiyor.
    </video>
    <h1>ALBATROS</h1>
    <a href="/albatros" target="_top" class="btn light"></a>
  </section>

  <section class="segmentsecond">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dicta dolore illo nihil ab tempore laboriosam! Ex, autem rem est architecto enim ullam obcaecati non molestias, minus, debitis quia cum.
  </section>

</body>
<!-- partial -->
<script src="{{ url_for('static', filename='script/index.js') }}"></script>
</html>
