<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Project Hosting Tool</title>
   <link href="{{ url_for('static', filename='3rd/boxicons.min.css') }}" rel="stylesheet" />
   <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<!-- partial:index.partial.html -->
<body>
  <video class="video-background" autoplay muted loop>
    <source src="{{ url_for('static', filename='assests/main-background.mp4') }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div id="docslayer" style="display: none;">
    <iframe id="layeriframe" src="nothing" frameborder="0"></iframe>
  </div>
    <header>
      <a href="#"
        ><img
          src="{{ url_for('static', filename='assests/pht.png') }}"
          alt="logo"
          class="logo"
      /></a>

      <input type="checkbox" id="check" />
      <label for="check" class="icons">
        <i class="bx bx-menu" id="menu-icon"></i>
        <i class="bx bx-x" id="close-icon"></i>
      </label>

      <nav class="navbar">
        <a class="nav-item" style="--i: 0">Architecture</a>
        <a class="nav-item" style="--i: 1">Module Development</a>
        <a class="nav-item" style="--i: 2">Installation</a>
        <a class="nav-item" style="--i: 3">Github</a>
      </nav>
    </header>

    <section class="content">
      <h1>Build Future</h1>
      <a href="#" class="btn light"></a>
    </section>
    
  </body>
<!-- partial -->
<script src="{{ url_for('static', filename='index.js') }}"></script>
</html>
