<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Luna Aerospace</title>
   <link href="{{ url_for('static', filename='3rd/boxicons.min.css') }}" rel="stylesheet" />
   <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
</head>
<!-- partial:index.partial.html -->
<body>
  <video class="video-background" autoplay muted loop>
    <source src="{{ url_for('static', filename='assests/main-background.mp4') }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
    <header>
      <a href="#"
        ><img
          src="{{ url_for('static', filename='assests/icon.png') }}"
          alt="logo"
          class="logo"
      /></a>

      <input type="checkbox" id="check" />
      <label for="check" class="icons">
        <i class="bx bx-menu" id="menu-icon"></i>
        <i class="bx bx-x" id="close-icon"></i>
      </label>

      <nav class="navbar" aria-label="Main Navigation">
        <a href="/albatros" class="nav-item" style="--i: 0" title="İHA Aracımız">ALBATROS</a>
        <a href="/argos" class="nav-item" style="--i: 1" title="İHA Kameramız">ARGOS</a>
        <a href="/team" class="nav-item" style="--i: 2" title="Ekip Üyelerimiz">EKİBİMİZ</a>
        <a href="/contact" class="nav-item" style="--i: 3" title="İletişim Bilgilerimiz">İLETİŞİM</a>
        <a href="/about-us" class="nav-item" style="--i: 4" title="Hakkımızda Daha Fazlası">HAKKIMIZDA</a>
      </nav>
      
    </header>

    <section class="content">
      <h1>ALBATROS</h1>
      <a href="#" class="btn light"></a>
    </section>
    
  </body>
<!-- partial -->
<script src="{{ url_for('static', filename='script/index.js') }}"></script>
</html>
