<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Luna AEROSPACE</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/load.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='assests/icon.png') }}" type="image/png">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="thing" id="thing">
  <div class="ring ring--1"></div>
  <div class="ring ring--2"></div>
  <div class="ring ring--3"></div>
</div>

<header>
  <a href="/"
    ><img
      src="{{ url_for('static', filename='assests/icon.png') }}"
      alt="logo"
      class="logo"
  /></a>

  <input type="checkbox" id="check" />
  <label for="check" class="icons">
    <i class="bx bx-menu" id="menu-icon"></i>
    <i class="bx bx-x" id="close-icon"></i>
  </label>

  <nav class="navbar" aria-label="Main Navigation">
    <a id="albatros" href="/albatros" class="nav-item" style="--i: 0" title="İHA Aracımız">ALBATROS</a>
    <a id="argos" href="/argos" class="nav-item" style="--i: 1" title="İHA Kameramız">ARGOS</a>
    <a id="hudplus" href="/hudplus" class="nav-item" style="--i: 1" title="İHA Kontrol Sistemi">HUD+</a>
    <a id="team" href="/team" class="nav-item" style="--i: 2" title="Ekip Üyelerimiz">EKİBİMİZ</a>
    <a id="contact" href="/contact" class="nav-item" style="--i: 3" title="İletişim Bilgilerimiz">İLETİŞİM</a>
    <a id="about-us" href="/about-us" class="nav-item" style="--i: 4" title="Hakkımızda Daha Fazlası">HAKKIMIZDA</a>
  </nav>
  
</header>

<iframe id="iframe" style="display: none;" src="/fetch/{{ fetchpage }}" frameborder="0"></iframe>
<!-- partial -->
<script src="{{ url_for('static', filename='script/load.js') }}"></script>
<script>
  document.getElementById('{{ fetchpage }}').style.color = "green";
</script>
</body>
</html>
